{% extends 'base.html' %}

{% block content %}


    <!-- -------- START Header w/ text and image ------- -->
    <header class="bg-gradient-dark">
        <div class="page-header min-vh-75" style="background-image: url('../static/img/IMG-20210502-WA0000.jpg')">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center mx-auto my-auto">
                        <h1 class="text-white">Alex Wichinger</h1>
                        <p class="lead mb-4 text-white opacity-8">Software Developer</p>
                        <a href="../static/files/Wichinger%20Alex%20CV%20.pdf" download>
                            <button type="submit" class="btn bg-white text-dark">Download CV</button>
                        </a>
                        <h6 class="text-white mb-2 mt-5">Find me on</h6>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/Tm92Wik/" target="_blank"><i
                                    class="fab fa-facebook text-lg text-white me-4"></i></a>
                            <a href="https://www.linkedin.com/in/alexwichinger/" target="_blank">
                                <i class="fab fa-linkedin text-lg text-white me-4"></i></a>
                            <a href="https://www.instagram.com/Alexwiky/" target="_blank"><i
                                    class="fab fa-instagram text-lg text-white me-4"></i></a>
                            <a href="https://twitter.com/alexwiky" target="_blank"><i
                                    class="fab fa-twitter text-lg text-white me-4"></i></a>
                            <a href="mailto: alexwiky@gmail.com"><i class="fab fa-google-plus text-lg text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- -------- END Header  w/ text and image ------- -->

    <!-- -------- START card  w/ Aboutme/ Education/ Experience ------- -->
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">

        <!-- Start about me & soft skills 7 hard skills -->
        <section class="py-7 shadow bg-gradient-faded-white" id="aboutme">
            <div class="container">
                <h2 class="text-center mb-6">About me</h2>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="row justify-content-start">
                            <div class="col-md">
                                <p>I would describe myself as a person who thrives at the chance of learning new skills
                                    through hard work. I am a very organized person, careful to details and a
                                    teamplayer, being a good fit to any team because of my excellent communication and
                                    collaboration skills.
                                    I have strong technical skills as well as excellent interpersonal skills, enabling
                                    me to
                                    interact with a wide range of people. I am eager to be challenged in order to grow
                                    and further improve my IT skills. I adapt easily to any situation and environment
                                    and
                                    I am eager to put into practice all the knowledge acquired so far in the field of
                                    software development.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-6 text-center">
                                <div class="info">
                                    <div class="title">Soft Skills</div>
                                    <p>Empathy</p>
                                    <p>Communication</p>
                                    <p>Teamwork</p>
                                    <p>Helpfulness</p>
                                    <p>Patience</p>
                                    <p>Open-mindedness</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="info">
                                    <div class="title">Technical Skills</div>
                                    <p>Python coding language and frameworks knowledge</p>
                                    <p>Programming skills</p>
                                    <p>Design abilities</p>
                                    <p>Problem-solving and critical thinking abilities</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -------- END About Me & Soft Skills & Hard Skills ------- -->

        <!-- -------- START Education ------- -->
        <section class="py-7 shadow" id="education">
            <div class="container">
                <h2 class="text-center mb-6">Education</h2>
                <div class="row align-items-center">
                    <div class="col-lg-4 me-auto mt-lg-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <a class="d-block blur-shadow-image text-center">
                                    <img src="../static/img/sda-logo.svg" alt="img-colored-shadow"
                                         class="img-fluid border-radius-lg">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <div class="font-weight-normal title">
                                    <a href="https://sdacademy.ro/">Software Development Academy</a>
                                </div>
                                <p class="mb-0">
                                    Python/Django (280Hours)
                                </p>
                                <p class="mb-0">
                                    15Aug-13Apr
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/1024px-Python-logo-notext.svg.png" width="30px"
                                         height="30px" class="mb-3" alt="...">
                                    <div class="title">Python Language</div>
                                    <p>We get insulted by others, lose trust for those We get back freezes</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/1200px-Git-icon-black.svg.png" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title"> Version control</div>
                                    <p>#GitHub #GitLab</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/django-logo.png" width="30px" height="30px" class="mb-3"
                                         alt="...">
                                    <div class="title"> Django Framework</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/sql-file-format.svg" width="50px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Database</div>
                                    <p>#MySQL #SQLlite3 #SQLAlchemy</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/frontend-icon-20.jpg" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Front-End</div>
                                    <p>#HTML #CSS #JS #Bootstrap</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/software-testing.png" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Software Testing</div>
                                    <p>Test-Driven Development</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- -------- END Education & Image ------- -->

        <!-- -------- START Experience 1 ------- -->
        <section class="py-7 bg-gradient-faded-white" id="experience">
            <div class="container">
                <h2 class="text-center mb-6">Experience</h2>
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/server-wide.png" width="30px" height="30px" class="mb-3"
                                         alt="...">
                                    <div class="title">Server-Wide Moderation</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/technical-support-svgrepo-com.svg" width="30px"
                                         height="30px" class="mb-3" alt="...">
                                    <div class="title"> Offering Support to Members</div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/robot-line.png" width="35px" height="30px" class="mb-3"
                                         alt="...">
                                    <div class="title"> Discord-Based Bot Development</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/improvement-performance.svg" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Improved Functionalities</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row justify-content-start">
                            <div class="info text-center">
                                <div class="title">Achievements:</div>
                                <p>- New Bots Idea</p>
                                <p>- Re-Organized Server Groups</p>
                                <p>- Good Customer Service</p>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="info text-center">
                                <div class="title">Developed skills:</div>
                                <p>- Communication With World Wide Peoples</p>
                                <p>- Task-Based Working</p>
                                <p>- Discord Development</p>
                                <p>- Bot Development</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <a class="d-block blur-shadow-image text-center">
                                    <img src="../static/img/cyborg-legends-logo.png" alt="img-colored-shadow"
                                         class="img-fluid bg-gradient-dark border-radius-lg">
                                    {#                                    <img src="../static/img/alex-w.png" alt="img-colored-shadow"#}
                                    {#                                         class="img-fluid border-radius-lg">#}
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <div class="font-weight-normal title">
                                    <a href="https://www.cyborglegends.io/">Cyborg Legends</a>
                                </div>
                                <p class="mb-0">
                                    Discord Wizard and Community Manager
                                </p>
                                <p class="mb-0">
                                    Oct2021 - Present
                                </p>
                                <p>
                                    <a href="https://github.com/MrWiky/Work" title="Cyborg Host by Alex W."
                                       target="_blank" type="button" class="btn btn-dark btn-lg mb-0 mt-3">GitHub
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -------- END Experience 1 & Image ------- -->

        <!-- -------- START Experience 2 & Image ------- -->
        <section class="py-7 ">
            <div class="container">
                <h2 class="text-center mb-6">Experience</h2>
                <div class="row align-items-center">
                    <div class="col-lg-4 me-auto mt-lg-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <a class="d-block blur-shadow-image text-center pb-3 pt-5">
                                    <img src="../static/img/ursus-breweries-red.svg" alt="img-colored-shadow"
                                         class="img-fluid border-radius-lg">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <div class="font-weight-normal title">
                                    <a href="https://ursus-breweries.ro/">Ursus Breweries</a>
                                </div>
                                <p class="mb-0">
                                    Draught Technician
                                </p>
                                <p class="mb-0">
                                    Apr2014 - Present
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/relationship-icon-png-5.jpg" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Good Client Relationship</div>
{#                                    <p>We get insulted by others, lose trust for those We get back freezes</p>#}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/hammer-icon-vector-3.jpg" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Technical Support</div>
{#                                    <p>We get insulted by others, lose trust for those We get back freezes</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/team-work.png" width="30px" height="30px" class="mb-3"
                                         alt="...">
                                    <div class="title">Team Work</div>
{#                                    <p>We get insulted by others, lose trust for those We get back freezes</p>#}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info text-center">
                                    <img src="../static/img/problem-solving.png" width="30px" height="30px"
                                         class="mb-3" alt="...">
                                    <div class="title">Problem Solving</div>
{#                                    <p>We get insulted by others, lose trust for those We get back freezes</p>#}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- -------- END Experience 2 & Image ------- -->
    </div>
    <!-- -------- END card  w/ Aboutme/ Education/ Experience ------- -->

{% endblock %}