<nav class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-fixed my-3 py-2 start-0 end-0 mx-4">
    <div class="container p-0">
        <button class="navbar-toggler shadow-none p-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item mx-2 ms-lg-2">
                    <a href="/#home" class="nav-link p-0 py-2 d-flex justify-content-between cursor-pointer align-items-center">
                        <i class="material-icons opacity-6 me-2 text-md">home</i>
                        Home
                    </a>
                </li>
                <li class="nav-item mx-2 ms-lg-2">
                    <a href="/#aboutme" class="nav-link p-0 py-2 d-flex justify-content-between cursor-pointer align-items-center">
                        <i class="material-icons opacity-6 me-2 text-md">person</i>
                        About me
                    </a>
                </li>
                <li class="nav-item mx-2 ms-lg-2">
                    <a href="/#education" class="nav-link p-0 py-2 d-flex justify-content-between cursor-pointer align-items-center">
                        <i class="material-icons opacity-6 me-2 text-md">school</i>
                        Education
                    </a>
                </li>
                <li class="nav-item mx-2 ms-lg-2">
                    <a href="/#experience" class="nav-link p-0 py-2 d-flex justify-content-between cursor-pointer align-items-center">
                        <i class="material-icons opacity-6 me-2 text-md">work</i>
                        Experience
                    </a>
                </li>
                <li class="nav-item mx-2 ms-lg-2">
                    <a href="{% url 'contact' %}" class="nav-link p-0 py-2 d-flex justify-content-between cursor-pointer align-items-center">
                        <i class="material-icons opacity-6 me-2 text-md">phone</i>
                        Contact me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
